# =========================
# PostgreSQL
# =========================

POSTGRES_USER=arbora
POSTGRES_PASSWORD=password
POSTGRES_DB=arbora
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# =========================
# Backend
# =========================

PORT=3001
CORS_ORIGINS=http://localhost:8080

# =========================
# Frontend
# =========================

VITE_API_URL=http://localhost:3001